<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP玩家交流QQ群</key>
	<dict>
		<key>clearCache</key>
		<string></string>
		<key>detailTitle</key>
		<string></string>
		<key>infoView</key>
		<string></string>
		<key>mail</key>
		<string></string>
		<key>url</key>
		<string>http://api.ipadown.com/client/page-by-id.php?id=83</string>
		<key>viewController</key>
		<string>MoreDetailViewController</string>
	</dict>
	<key>allRows</key>
	<array>
		<array>
			<string>我收藏的Apps</string>
			<string>清空本地缓存</string>
			<string>开启或关闭推送</string>
		</array>
		<array>
			<string>软件名称</string>
			<string>软件作者</string>
			<string>意见反馈</string>
			<string>技术支持</string>
			<string>去AppStore给我们评价</string>
		</array>
		<array>
			<string>关于I派党</string>
			<string>团队联系方式</string>
			<string>APP玩家交流QQ群</string>
		</array>
		<array>
			<string>《爱新闻 HD》for iPad</string>
			<string>《精品限时免费》for iPhone</string>
			<string>《精品限时免费》for iPad</string>
		</array>
		<array>
			<string>i派党Mac客户端</string>
			<string>i派党AIR客户端</string>
		</array>
	</array>
	<key>i派党AIR客户端</key>
	<dict>
		<key>clearCache</key>
		<string></string>
		<key>detailTitle</key>
		<string></string>
		<key>infoView</key>
		<string>请访问我们的网站下载Air客户端</string>
		<key>mail</key>
		<string></string>
		<key>url</key>
		<string></string>
		<key>viewController</key>
		<string></string>
	</dict>
	<key>i派党Mac客户端</key>
	<dict>
		<key>clearCache</key>
		<string></string>
		<key>detailTitle</key>
		<string></string>
		<key>infoView</key>
		<string>请访问我们的网站下载Mac客户端</string>
		<key>mail</key>
		<string></string>
		<key>viewController</key>
		<string></string>
	</dict>
	<key>sections</key>
	<array>
		<string>客户端设置</string>
		<string>关于客户端</string>
		<string>关于I派党</string>
		<string>我们的ios移动客户端</string>
		<string>我们的电脑客户端</string>
	</array>
	<key>《爱新闻 HD》for iPad</key>
	<dict>
		<key>clearCache</key>
		<string></string>
		<key>detailTitle</key>
		<string></string>
		<key>infoView</key>
		<string></string>
		<key>mail</key>
		<string></string>
		<key>url</key>
		<string>http://link.ipadown.com/534041869</string>
		<key>viewController</key>
		<string></string>
	</dict>
	<key>《精品限时免费》for iPad</key>
	<dict>
		<key>clearCache</key>
		<string></string>
		<key>detailTitle</key>
		<string></string>
		<key>infoView</key>
		<string></string>
		<key>mail</key>
		<string></string>
		<key>url</key>
		<string>http://link.ipadown.com/467267027</string>
		<key>viewController</key>
		<string></string>
	</dict>
	<key>《精品限时免费》for iPhone</key>
	<dict>
		<key>clearCache</key>
		<string></string>
		<key>detailTitle</key>
		<string></string>
		<key>infoView</key>
		<string></string>
		<key>mail</key>
		<string></string>
		<key>url</key>
		<string>http://link.ipadown.com/457802407</string>
		<key>viewController</key>
		<string></string>
	</dict>
	<key>关于I派党</key>
	<dict>
		<key>clearCache</key>
		<string></string>
		<key>detailTitle</key>
		<string></string>
		<key>infoView</key>
		<string></string>
		<key>mail</key>
		<string></string>
		<key>url</key>
		<string>http://api.ipadown.com/client/page-by-id.php?id=2</string>
		<key>viewController</key>
		<string>MoreDetailViewController</string>
	</dict>
	<key>去AppStore给我们评价</key>
	<dict>
		<key>clearCache</key>
		<string></string>
		<key>detailTitle</key>
		<string></string>
		<key>infoView</key>
		<string></string>
		<key>mail</key>
		<string></string>
		<key>url</key>
		<string>http://link.ipadown.com/438195021</string>
		<key>viewController</key>
		<string></string>
	</dict>
	<key>团队联系方式</key>
	<dict>
		<key>clearCache</key>
		<string></string>
		<key>detailTitle</key>
		<string></string>
		<key>infoView</key>
		<string></string>
		<key>mail</key>
		<string></string>
		<key>url</key>
		<string>http://api.ipadown.com/client/page-by-id.php?id=5</string>
		<key>viewController</key>
		<string>MoreDetailViewController</string>
	</dict>
	<key>开启或关闭推送</key>
	<dict>
		<key>clearCache</key>
		<string></string>
		<key>detailTitle</key>
		<string>设置</string>
		<key>infoView</key>
		<string></string>
		<key>mail</key>
		<string></string>
		<key>url</key>
		<string></string>
		<key>viewController</key>
		<string></string>
	</dict>
	<key>意见反馈</key>
	<dict>
		<key>clearCache</key>
		<string></string>
		<key>detailTitle</key>
		<string>ieliwb@gmail.com</string>
		<key>infoView</key>
		<string></string>
		<key>mail</key>
		<string>ieliwb@gmail.com</string>
		<key>url</key>
		<string></string>
		<key>viewController</key>
		<string></string>
	</dict>
	<key>我收藏的Apps</key>
	<dict>
		<key>clearCache</key>
		<string></string>
		<key>detailTitle</key>
		<string></string>
		<key>infoView</key>
		<string></string>
		<key>mail</key>
		<string></string>
		<key>url</key>
		<string></string>
		<key>viewController</key>
		<string>MoreStorageViewController</string>
	</dict>
	<key>技术支持</key>
	<dict>
		<key>clearCache</key>
		<string></string>
		<key>detailTitle</key>
		<string>www.ipadown.com</string>
		<key>infoView</key>
		<string></string>
		<key>mail</key>
		<string></string>
		<key>url</key>
		<string>http://www.ipadown.com/</string>
		<key>viewController</key>
		<string></string>
	</dict>
	<key>清空本地缓存</key>
	<dict>
		<key>clearCache</key>
		<string>clear</string>
		<key>detailTitle</key>
		<string>一键清空</string>
		<key>infoView</key>
		<string>成功删除全部缓存</string>
		<key>mail</key>
		<string></string>
		<key>url</key>
		<string></string>
		<key>viewController</key>
		<string></string>
	</dict>
	<key>软件作者</key>
	<dict>
		<key>clearCache</key>
		<string></string>
		<key>detailTitle</key>
		<string>花太香齐</string>
		<key>infoView</key>
		<string></string>
		<key>mail</key>
		<string></string>
		<key>url</key>
		<string></string>
		<key>viewController</key>
		<string></string>
	</dict>
	<key>软件名称</key>
	<dict>
		<key>clearCache</key>
		<string></string>
		<key>detailTitle</key>
		<string>爱新闻</string>
		<key>infoView</key>
		<string></string>
		<key>mail</key>
		<string></string>
		<key>url</key>
		<string></string>
		<key>viewController</key>
		<string></string>
	</dict>
</dict>
</plist>
