<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>title</key>
            <string>全部</string>
            <key>categoryID</key>
            <string>0</string>
        </dict>
        <dict>
            <key>title</key>
            <string>头条</string>
            <key>categoryID</key>
            <string>9999</string>
        </dict>
        <dict>
            <key>title</key>
            <string>快讯</string>
            <key>categoryID</key>
            <string>1</string>
        </dict>
        <dict>
            <key>title</key>
            <string>视频</string>
            <key>categoryID</key>
            <string>10</string>
        </dict>
        <dict>
            <key>title</key>
            <string>游戏</string>
            <key>categoryID</key>
            <string>11</string>
        </dict>
        <dict>
            <key>title</key>
            <string>应用</string>
            <key>categoryID</key>
            <string>1967</string>
        </dict>
        <dict>
            <key>title</key>
            <string>业界</string>
            <key>categoryID</key>
            <string>4</string>
        </dict>
        <dict>
            <key>title</key>
            <string>库克</string>
            <key>categoryID</key>
            <string>43</string>
        </dict>
        <dict>
            <key>title</key>
            <string>乔布斯</string>
            <key>categoryID</key>
            <string>2634</string>
        </dict>
        <dict>
            <key>title</key>
            <string>炫配</string>
            <key>categoryID</key>
            <string>3</string>
        </dict>
        <dict>
            <key>title</key>
            <string>活动</string>
            <key>categoryID</key>
            <string>8</string>
        </dict>
        <dict>
            <key>title</key>
            <string>iPhone技巧</string>
            <key>categoryID</key>
            <string>6</string>
        </dict>
        <dict>
            <key>title</key>
            <string>iPad技巧</string>
            <key>categoryID</key>
            <string>5</string>
        </dict>
        <dict>
            <key>title</key>
            <string>Mac技巧</string>
            <key>categoryID</key>
            <string>230</string>
        </dict>
        <dict>
            <key>title</key>
            <string>AppStore技巧</string>
            <key>categoryID</key>
            <string>7</string>
        </dict>
        <dict>
            <key>title</key>
            <string>iTunes技巧</string>
            <key>categoryID</key>
            <string>12</string>
        </dict>
    </array>
</plist>
